apiVersion: apps/v1
kind: Deployment
metadata:
  name: supply-app-ingresobodega
  namespace: bod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: supply-app
  template:
    metadata:
      labels:
        app: supply-app
    spec:
      containers:
      - name: ingreso-bodega
        image: public.ecr.aws/o4y1s5p9/medisupply:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8081
        env:
        - name: spring.application.name
          value: "IngresoBodega"
        - name: server.port
          value: "8081"
        - name: spring.kafka.bootstrap-servers
          value: "kafka-supply-broker.kafka-broker.svc.cluster.local:9092"
        - name: spring.kafka.consumer.group-id
          value: group2
        - name: kafka.group.all
          value: group2
        - name: aws.region
          value: us-east-2
        - name: kafka.topic.inventario-recibido
          value: InventarioRecibido
        - name: kafka.topic.inventario
          value: InventarioActualizado
        - name: URLservicioBlockchain
          value: "http://transaccion-blockchain.blockchain.svc.cluster.local:8080/api/v1/transaccion/registrar"
        envFrom:
        - secretRef:
            name: aws-credentials
